
/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: #111; }

h1 a { text-decoration: none; }

/* Text Elements
 * --------------------------------------------------------------------- */
a                 { color: #111; }
a:hover           { color: #993399; }
blockquote        { color: #666; }

pre {
  background: #eee;
  border:     1px solid #ddd;
}

hr { color: #000; }

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid #ddd;
  border-left:    1px solid #ddd;
}
th,td {
  border-bottom:  1px solid #ddd;
  border-right:   1px solid #ddd;
}

/* Default Classes
 * --------------------------------------------------------------------- */
p.quiet { color: #666; }
.alt    { color: #666; }

p.title {
  color: #111;
  font-size: 64px;
  margin-top: 40px;
  margin-bottom: 10px;
}

#header {
  text-align: center;
  margin-bottom: 40px;
}

#header a {
  color: #111;
  text-decoration: none;
}

#header a span {
  color: #993399;
}

body {
  font: 18px/22px Futura, Century Gothic, Sans-Serif;
  background-color: #fff;
  color: #000;
  
  padding: 0px;
  margin: 0px;
}

.body p {
  color: #777;
}

.body a {
  background-color: #F0F0F0;
  text-decoration: none;
  color: #777;
}

.body a:hover {
  background-color: #F0F0F0;
  text-decoration: none;
  color: #993399;
}

div.article div.date {
  color: #C0C0C0;
  margin-top: -27px;
  margin-left: 30px;
  margin-bottom: 15px;
}

div.article hr {
  margin-top: -27px;
}

/* EOF */
